
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

/* others design */

body{
    background-color:rgb(18, 17, 17);
}

.container{
    width: 90%;
    margin: 5rem auto;
    
  
}
.span{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    
}

/* navbar design style */
.navbar-main {
    display: flex;
    justify-content: space-between;
   
    
      font-family: "Inter", sans-serif;
      
   
      
      
}

.nabvar{
    display: flex;
    justify-content: space-between;
   gap: 40px;
   border: 0.5px solid white;
   
   padding: 10px;
   color: white;
   border-radius: 20px;
   
  
    
}
.fitness{
    color: rgb(230, 83, 60);
    
}
/* btn design */
.btn-primary{
    background-color:rgb(230, 83, 60) ;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 2px;

  

}
.btn-primary-2{
    background-color:rgb(230, 83, 60) ;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;


}
.btn-3{
    background-color: rgb(18, 17, 17);
    color: white;
    gap: 10px;
    border: 0.5px solid white;
    padding: 10px;
    border-radius: 20px;


}
/* section design */
.healthy-header{
    color: white;
    width: 300px;
    font-size: 2rem;
   
}
 p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
h2{
    color: white;
    text-align: center;
    font-size: 2rem;
}
h1{
    color: white;
    font-size: 3rem;
}
h5{
    color: white;
    font-size: 1rem;
}
.section-conatainer{
    display: flex;
    justify-content: space-between;
}
.workout{
    color: white;
    backdrop-filter: blur(20px);
    

position: absolute;
width: 193px;
height: 88px;
left: 1000px;
top: 460px;
border: 1px solid rgba(255, 255, 255, 0.1);
padding: 10px;
border-radius: 10px;

}
.video{
    box-sizing: border-box;
    color: white;
    backdrop-filter: blur(20px);
    

position: absolute;
width: 200px;
height: 110px;
left: 800px;
top: 760px;

border: 1px solid rgba(255, 255, 255, 0.1);
padding: 10px;
border-radius: 10px;

}
/* section 2 design */
.your-habits{
    text-align: center;
    margin-top: 200px;


}
.Movement{
   
    width: 200px;
    
    margin-top: 58px;
}
.img2{
    border-radius: 50%;
}
.habits{
    display: flex;
    justify-content: center;
    gap: 70px;
}
/* section3 design */
.Run{
    width: 400px;

}
.img-run{
    width: 370px;
    border-radius: 20px;
    height: 310px;
}
.run-container{
    display: flex;
    gap: 300px;
    border-radius: 18px;

background: rgb(34, 34, 34);
padding: 30px;
}
/* section4 design */
.our-team{
    text-align: center;
    width: 600px;
    margin-left: 300px;
 
}
/* trainer section design */
.row-1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.img-T1,.img-T2,.img-T3{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset;
}
.img-T1{
    width: 326px;
    border-radius: 20px;
}
.img-T2{
    width: 349px;
    border-radius: 20px;
}
.img-T3{
    width: 292px;
    border-radius: 20px;
}
.img-T5{

        width: 349px;
        height: 275px;
        border-radius: 20px;
}
.img-T6{
    width: 292px;
    border-radius: 20px;
    height: 280px;
}
.text ,.text2, .text3{
    position: absolute;
    top: 3250px;
    
    
}
.text{
    left: 160px;
}
.text2 ,.text5{
    left: 500px;
}
.text3 ,.text6{
    right: 300px;
}
.text4, .text5,.text6{
    position: absolute;
    top: 3540px;
    
    
}
.text4{
    left: 160px;
}


.meet-our-team{
    border-radius: 18px;

background: rgba(255, 255, 255, 0.1);
padding: 10px;
}
/* footer design */
.fitness2{
    color: rgb(230, 83, 60);
    font-size:70px ;
    width:400px ;
    
}
.display-flex , .footer2{
    display: flex;
    flex-direction: row;
    gap: 150px;
    
}
.footer2{
    margin-left: 100px;
}
.get-start {
    text-align: start;
}
.footer-section{
   
    width: 180px;
    margin-top: 80px;
    text-align: start;
    margin-left: 1px;
}
.footer-design {
    background: rgba(255, 255, 255, 0.1);
    height: 500px;
}
.line{
     border: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-end{
    text-align: center;

  
}


/* table section  */
table, td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  table {
    width: 310px;
    border-collapse: collapse;
    color: white;
    text-align: center;
   
  }
  .BMI {
   
    margin-top: 80px;
    text-align: center;
    margin-left: 1px;
   
  }
  
  .table{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  .row{
    font-size: 15px;
   

width: 30px;
height: 50px;
left: 207px;
top: 153px;
color: white;
color: rgb(255, 255, 255);


  }
  .calculator{
    text-align: left;
    font-size: 3rem;
    color: white;
    
  }
  .calculator,h6{
    margin-top: 20px;
  }
  .sectionarea{
    background-color: rgb(34, 34, 34); 
   display: flex;
   justify-content: space-between;
  }
  .select-area {

      color: white;
      font-size: 2rem;
  }
  .select-description {
    
    font-size: 2rem;
    width: 550px;
    margin-top: 100px;
  }
  h6{
    color: white;
    font-size: 2rem;
  }